<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/fa18-rushes/' %} active {% endif %}"><a href="{{ "/fa18-rushes/" | absolute_url }}">Rushes</a></li>
  <li class="{% if page.url contains '/announcements/' %} active {% endif %}"><a href="{{ "/announcements/" | absolute_url }}">Announcements</a></li>
  <li class="{% if page.url contains '/germ/' %} active {% endif %}"><a href="{{ "/germ/" | absolute_url }}">Germ</a></li>
  <li class="{% if page.url contains '/archive/' %} active {% endif %}"><a href="{{ "/archive/" | absolute_url }}">History</a></li>
  <!-- <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li> -->
</ul>

<ul class="icons">
  <!-- added by jucaleb4 <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>-->
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <!--<li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>-->
</ul>
